.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  width: 200px;
}

.add-item {
  height: 40px;
  width: 70px;
}
