body {
  background-color: #282c34;
  color: white;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.head {
  height: 100px;
  text-align: center;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
